/* Mobile-specific styles */
@media only screen and (max-width: 600px) {
    body {
        font-size: 1rem; /* Use rem for better scalability */
        padding: 0 1rem; /* Padding to avoid edge touching */
    }
    #wrapper--hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem 0; /* Add padding for breathing room */
    }
    #profile-pic {
        width: 140px;
        height: 140px;
        margin-bottom: 0.5rem;
        margin-left: auto;
        margin-right: auto; /* Centers image within flex container */
    }
    #user-name {
        font-size: 2.0rem; /* Slightly larger font size for better visibility */
        font-weight: bold; /* Bold to make it stand out */
        margin: 0.5rem; /* Margin for spacing */
        text-align: center;
        line-height: 1.2; /* Tighten the line height */
        text-transform: uppercase; /* Optional: Make it uppercase for emphasis */
        letter-spacing: 0.05rem; /* Optional: Slight letter spacing for readability */
    }
    #bio {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    #email {
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }
    #socials--list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }
    #socials--list a {
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
        font-size: 0.9rem; /* Slightly smaller font */
        padding: 0.5rem 1rem; /* Increase touch target size */
        border-radius: 0.5rem;
        text-decoration: none;
        color: #333;
    }
    #socials--list img {
        margin-right: 0.5rem;
    }
    #wrapper--techstack__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0; /* Padding for better spacing */
    }
    .card--techstack {
        width: 100%;
        text-align: center;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        border-bottom: 1px solid rgba(218, 218, 218, 0.5); /* Make the bottom border lighter */
    }
    #work-history-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0; /* Padding for better spacing */
    }
    .card--work-history {
        width: 100%;
        margin-bottom: 0.5rem;
        padding: 1rem;
        border: none; /* No borders, just content */
        border-top: 1px solid var(--mainBorderColor); /* Only top border */
    }
    .line-break {
        display: none;
    }
}
